.sidebar {
  width: 0;
  position: fixed;
  top: 88px;
  left: 0;
  height: calc(100vh - 88px);
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  border-right: 1px solid #ddd;
  transition: width 0.3s ease;
  z-index: 900;
}

.sidebar.open {
  width: 250px;
}

.sidebar-header-container {
  padding: 1.5rem;
}

.sidebar-header {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  color: #1f2937;
  border-bottom: 2px solid #3b82f6;
  padding-bottom: 0.5rem;
}

.sidebar-menu .dot-green {
  margin-left: -28px;
  margin-right: 6px;
  vertical-align: middle;
  font-size: 1.8em;
}

.sidebar-menu {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.sidebar-menu li {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 2px;
  color: #333;
  cursor: pointer;
}

.sidebar-menu li:hover {
  background-color: white;
}

.icon {
  margin-right: 12px;
  font-size: 16px;
}

@media (max-width: 600px) {
  .sidebar {
    display: none !important;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .sidebar {
    display: none !important;
  }
}

@media (min-width: 1025px) {
  .sidebar {
    top: 88px;
    height: calc(100vh - 88px);
    width: 250px;
  }
  .sidebar.open {
    width: 250px;
  }
}
